/.venv310
smth.py
one.py
GUI/__pycache__/control_modes_basic.cpython-310.pyc
GUI/__pycache__/headtrackingwithcam.cpython-310.pyc
GUI/__pycache__/input_manager.cpython-310.pyc
GUI/__pycache__/control_modes_basic.cpython-310.pyc
